
body{
    height:100vh;
    width: 100vw;
}

header{
    height: 5vh;
    width: 100vw;
}

main {
    height: 90vh;
    width: 100vw;
    background-image: url(../assets/images/opcion_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}

footer { 
    height: 5vh;
    width: 100vw;
}